* {
  margin:0px;
  padding:0px;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
#desc {
  display: block;
  width: 500px;
  margin: 40px auto;
  font: 25px Arial,monospace;
}
#title{
  display: block;
  width: 1000px;
  margin: 10px auto;
  font: 40px Helvetica,monospace;
}
#name{
  display: block;
  width: 700px;
  margin: 10px auto;
  font: 60px Lucida Console,monospace;
}
#h1 {
 display: center;
 margin: 50px auto;
  font: 30px Helvetica,monospace;
}
